<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'app:home' %}">Home</a></li>
        <li><a href="{% url 'app:contact' %}">Contact</a></li>
        <li><a href="{% url 'app:about' %}">About</a></li>
    </ul>
    {% block body %}
    {% if result.id %}
    <a href="{% url 'app:check_result' result.id %}">Task Result</a>
    {% endif %}

    <h2>This is the Home Page</h2>
    {% endblock  %}
</body>
</html>